{
  "extends": ["airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/no-unused-vars": ["warn", {
      "argsIgnorePattern": "_"
    }],
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "max-len": "off",
    "max-classes-per-file": "off"
  }
}